<div class="alert alert-light font-weight-bold" role="alert">
    Nueva vacante
</div>
<form class="user animated bounceIn" id="form-vacante">
    <!-- Fila -->
    {{#if (ifeq usuario.userRole "USER_ADMIN")}}
    <div class="form-row">
        <div class="col">
            <!-- Puesto -->
            <div class="form-group form-control-lg">Empresas - Total: ({{ empresas.total }})</label>
                <select id="empresasSelect" class="custom-select mr-sm-2 border border-warning">
                    {{#each empresas.data }}
                    <option id="{{ this._id }}" value="{{ this._id }}">{{#if this.razonSocial}} {{ this.razonSocial }} {{else}} {{this.nombre}}{{/if}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </div>
    {{/if}}
    <!-- Fila -->
    <div class="form-row">
        <div class="form-group col">
            <label class="form-control-lg">Tipo de vacante:</label>
                                    <select id="tipoLaboralSelect" class="form-control form-control-lg">
                                    <option value="Laboral" selected>Laboral</option>
                                    <option value="Practicas profesionales">Prácticas profesionales</option>
                                    <option value="Estancias profesionales">Estancias profesionales</option>
                                     {{#if (ifServicioSocial usuario)}}
                                    <option value="Servicio social">Servicio social</option>
                                    {{/if}}
                                </select>
                                </div>
                            </div>
    <div class="form-row">
        <div class="form-group col">
            
            <!-- Puesto -->
            <label class="form-control-lg">Puesto</label>
                <input type="text" id="inputPuesto" class="form-control form-control-user"
                    placeholder="Puesto solicitado" name="puesto" required>
            </div>
        <div class="form-group col">
            <!-- Horarios -->
            <label class="form-control-lg">Horarios</label>
                <input type="text" id="inputHorarios" class="form-control form-control-user"
                    placeholder="Lunes - Sábado 09:00 am - 05:00 pm" name="horarios" required>
            </div>
    </div>

    <!-- Fila -->
    <div class="form-row">
        <div class="form-group col">
            <!-- Puesto -->
            <label class="form-control-lg">Funciones</label>
                <textarea class="form-control form-control-lg texto-oscuro" id="inputFunciones" name="funciones" placeholder="Funciones a realizar"
                    rows="3" required></textarea>
        </div>
    </div>
    <!-- Fila -->
    <div class="form-row">
        <div id="salarioInput" class="form-group  col">
            <!-- Salario -->
            <label class="form-control-lg">Salario $</label>
                <input type="number" id="inputSalario" class="form-control form-control-user"
                    placeholder="Monto en pesos" name="salario">
            </div>
        <div class="form-group col">
            <!-- Notas -->
            <label class="form-control-lg">Notas</label>
                <input type="text" id="inputNotas" class="form-control form-control-user" placeholder="Notas extras"
                    name="notas" required>
            </div>
    </div>
    <div class="form-group w-50 mx-auto">
        <button type="submit" class="btn btn-success btn-user btn-block">
            Publicar
        </button>
    </div>
</form>