<img class="z-depth-2 foto-empresa mx-auto" src="{{ usuario.foto }}" data-holder-rendered="true">
                        <h2 class="texto-verde">{{ usuario.nombre }}</h2>
                        <h3 class="text-dark font-weight-bold">{{ usuario.razonSocial }}</h3>
                        <h4 class="text-dark font-weight-bold">{{ usuario.descripcion }}</h4>
                        <h6 class="text-dark font-weight-bold">{{ usuario.direccion }}</h6>