{{#if (esMayor paginas 1) }}
<nav aria-label="...">
    <ul class="pagination pagination-lg justify-content-center">

        <!-- Si no se esta en el indice 1 -->
        {{#if (esMayor no_paginas 1) }}
        <li class="page-item" aria-label="Previous">
            <a class="page-link"
                href="/perfil/administrativo/{{ resta no_paginas 1 }}/{{ no_pagina_empresas }}"
                aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Anterior</span>
            </a>
        </li>


        <li class="page-item">
            <a class="page-link"
                href="/perfil/administrativo/{{ resta no_paginas 1 }}/{{ no_pagina_empresas }}"
                aria-label="Previous">{{ resta no_paginas 1 }}</a>
        </li>
        {{/if}}

        <li class="page-item active">
            <span class="page-link">
                {{ no_paginas }}
                <span class="sr-only">(Actual)</span>
            </span>
        </li>

        <!-- Si aun alcanza agregar una pagina mas -->
        {{#if (esMenorIgual (suma no_paginas 1) paginas) }}
        <li class="page-item">
            <a class="page-link"
                href="/perfil/administrativo/{{ suma no_paginas 1 }}/{{ no_pagina_empresas }}">{{ suma
                no_paginas 1 }}</a>
        </li>


        <li class="page-item">
            <a class="page-link"
                href="/perfil/administrativo/{{ suma no_paginas 1 }}/{{ no_pagina_empresas }}"
                aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Siguiente</span>
            </a>
        </li>
        {{/if}}
    </ul>
</nav>
{{/if}}