 {{> head }}


<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    {{> sidebar_dashboard }}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            {{> top_bar_dashboard }}
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800" id="edit-user-id" name="{{user_edit._id}}">Usuario: <b>{{user_edit.name}} {{user_edit.last_name}}</b> <a class="btn btn-danger" onclick="deleteUser('{{user_edit._id}}')">
                                            <i class="fas fa-trash-alt"></i>
                                            </a></h1>
                <hr>
                <form class="user" id="form-user-update">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" name="name" class="form-control form-control-user" id="inputFirstName" placeholder="Nombre(s)" value="{{user_edit.name}}" required>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" name="last_name" class="form-control form-control-user" id="inputLastName" placeholder="Apellidos" required value="{{user_edit.last_name}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col">
                                    <input type="email" class="form-control form-control-user" id="inputEmail" placeholder="Correo electr칩nico" value="{{user_edit.email}}" disabled required>
                                </div>
                                <div class="col">
                                    <select class="form-control" id="inputRole" required>
                                        {{#if (admin user_edit.role)}}
                                        <option value="ADMIN_ROLE" selected>ADMINISTRADOR</option>
                                        <option value="USER_ROLE">USUARIO</option>
                                        {{else}}
                                        <option value="USER_ROLE" selected>USUARIO</option>
                                        <option value="ADMIN_ROLE">ADMINISTRADOR</option>
                                        {{/if}}
                                </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="inputArea" required>
                                    <option value="0">-- Seleccione un 치rea --</option>
                                    {{#each areas}}
                                            <option value="{{ this._id }}" id="{{ this._id }}-option-area">{{ this.name }} - {{ this.description }}</option>
                                    {{/each}}
                                    <option value="{{ user_edit.area._id }}" id="{{ user_edit.area._id }}-option-area" selected>{{ user_edit.area.name }} - {{ user_edit.area.description }}</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" name="password" class="form-control form-control-user security-password" id="inputPasswordUser" placeholder="Contrase침a" minlength="8">
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user" id="inputRepeatPasswordUSer" placeholder="Repita su contrase침a" minlength="8">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success btn-user btn-block" id="btn-create">
                                Actualizar usuario
                            </button>
                            </a>
                        </form>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Page Wrapper -->


        <!-- Footer -->
        {{> footer_dashboard }}
        <!-- End of Footer -->
    </div>
    <!-- End of Main Content -->
</div>
<!-- End of Page Wrapper -->

{{> end_file }}

<!-- Page level custom scripts -->
<script src="/js/function_dashboard_user.js"></script>
<script src="/js/function_user_update.js"></script>