{{> head }}
{{> navbar_perfil }}


<div class="container p-5">
    <div class="row mt-5">
        <div class="col">
            {{> sinConexion }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 animated bounceIn text-center">
            {{> informacion_perfil }}
        </div>


        <div class="col">
            <div class="row">
                <div class="col">
                    {{> busquedaPartial }}
                        </div>
                        <div class="col">
                            {{> listadoConvenios }}
                        </div>
                    </div>

                    <!-- Vacantes -->
                    <div class="row">
                        <div class="col">
                            
<div class="card text-center border-info mb-3">
        <div class="card-body">
          <input class="d-none" type="text" id="informacionUsuarioID" value="{{ informacionUsuario._id }}" class="texto-oscuro"></input>
          <h3 class="texto-oscuro">{{ informacionUsuario.nombre }}</h3>
          <h4 class="card-title">{{ informacionUsuario.razonSocial }}</h4>
          {{#if informacionUsuario.foto}}
          <img src="{{ informacionUsuario.foto }}" class="card-img foto-empresa" alt="Foto empresa">
          {{/if}}
          {{#if informacionUsuario.descripcion}}
          <h5 class="card-text text-justify mt-2">Descripción: <b>{{ informacionUsuario.descripcion }}</b></h5>
          {{/if}}
          <div class="row">
            {{#if informacionUsuario.rfc}}
              <div class="col">
                  <h5>RFC: <b>{{informacionUsuario.rfc}}</b></h5>
              </div>
              {{/if}}
              {{#if informacionUsuario.email}}
              <div class="col">
                  <h5>Email: <b>{{informacionUsuario.email}}</b></h5>
              </div>
              {{/if}}
          </div>
          {{#if informacionUsuario.direccion}}
          <h6>Dirección: <b>{{informacionUsuario.direccion}}</b></h6>
          {{/if}}
        </div>
                        </div>
                    </div>

                </div>
                <!-- Fin de la fila -->
            </div>
            <!-- Fin container -->
            </div>
            {{> footer }}
