{{> head }}
{{> navbar_perfil }}


<div class="container p-5">
    <div class="row mt-5">
        <div class="col-lg-5 animated bounceIn">
            <div class="row">
                {{#if usuario.foto}}
                    <img class="z-depth-2 foto-perfil mx-auto" src="/archivos/fotografias/{{usuario.foto }}" data-holder-rendered="true">
                {{else}}
                    <img class="z-depth-2 foto-perfil mx-auto" src="/img/no-img.jpg" data-holder-rendered="true">
                {{/if}}
                </div>

<form>
                <!-- Fila Contacto-->
                <div class="row mt-3">
                    <div class="col">
                        <!-- Contacto -->
                        <div class="row">
                        <div class="col col-lg-6">
                        <div class="card border-left-success shadow">
                                <div class="card-body p-2">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="font-weight-bold text-success">
                                               Contacto</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-address-card fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col text-center">
                        <!-- Nombre -->
                        <label class="font-weight-bold text-dark" for="inputCorreo">Revisa tu correo electrónico</label>
                        <div class="input-group mb-2">
                        <input type="text" class="form-control texto-oscuro" placeholder="Correo institucional UAEMEX" aria-label="Correo institucional UAEMEX" aria-describedby="basic-addon2" value="{{usuario.email}}">
                        </div>

                        <!-- Nombre -->
                            <div class="form-group">
                                <label class="font-weight-bold text-dark" for="inputNumero">Revisa tu número de contacto</label>
                                <input type="number" class="form-control text-center texto-oscuro" id="inputNumero" placeholder="Celular" value="{{ usuario.numeroContacto }}"></div>
                    </div>
                    </div>
                    </div>
                    <!-- Fin Contacto -->
                </div>

                <!-- Fila Habilidades-->
                <div class="row mt-3">
                    <div class="col">
                        <!-- Habilidades -->
                        <div class="row">
                        <div class="col col-lg-6">
                        <div class="card border-left-primary shadow">
                                <div class="card-body p-2">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="font-weight-bold text-primary">
                                               Habilidades</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-book-open-reader fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col text-center">
                        <!-- Habilidades -->
                        <label class="font-weight-bold text-dark">Ingresa 3 habilidades</label>
                        {{#each (retornaArregloMasItemsFaltantes usuario.habilidades 3) }}
                            <input type="text" class="form-control text-center texto-oscuro mb-2" placeholder="Agregue una habilidad" value="{{ this }}">
                        {{/each}}
                        </div>
                    </div>
                    </div>
                    </div>
                    <!-- Fin Habilidades -->

                    <!-- Fila Logros-->
                <div class="row mt-3">
                    <div class="col">
                        <!-- Logros -->
                        <div class="row">
                        <div class="col col-lg-6">
                        <div class="card border-left-warning shadow">
                                <div class="card-body p-2">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="font-weight-bold text-warning">
                                               Logros</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-medal fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col text-center">
                        <!-- Logros -->
                        <label class="font-weight-bold text-dark">Ingresa 3 logros</label>
                        {{#each (retornaArregloMasItemsFaltantes usuario.logros 3) }}
                            <input type="text" class="form-control text-center texto-oscuro mb-2" placeholder="Agregue un logro" value="{{ this }}">
                        {{/each}}
                        </div>
                    </div>
                    </div>
                    </div>
                    <!-- Fin Logoros -->
                </div>



            <div class="col text-center">
                <div class="row">
                    <div class="col">

                        
                            <!-- Nombre -->
                            <div class="form-group">
                                <label class="font-weight-bold text-dark" for="inputNombre">Revisa tu nombre</label>
                                <div class="form-row">
                                        <div class="form-group col col-md-4">
                                <input type="text" class="form-control text-center texto-oscuro form-control-lg font-weight-bold" id="inputNombre" placeholder="Nombre" value="{{ usuario.nombre }}">
                                </div>
                                        <div class="form-group col">
                                <input type="text" class="form-control text-center texto-oscuro form-control-lg font-weight-bold" id="inputApellidos" placeholder="Apellidos" value="{{ usuario.apellidos }}">
                                 </div>
                                 </div>   
                                </div>

                                <!-- Experiencia laboral -->
                                <div class="form-group">
                                    <label class="font-weight-bold text-dark" for="inputExpLaboral">Experiencia Laboral</label>
                                    <textarea class="form-control texto-oscuro" id="inputExpLaboral" placeholder="Describe en 100 palabras la experiencia ganada en tus trabajos anteriores, conocimientos adquiridos, habilidades y técnicas." rows="3">{{ usuario.experienciaLaboral }}</textarea>
                                </div>

                                <!-- Empresas -->
                                    <label class="font-weight-bold text-dark">Empresas</label>
                                    <div class="container border border-warning rounded m-0 pt-0 pb-0 ">
                                        {{#each usuario.empleos}}
                                <div class="form-row mt-3">
                                    <div class="form-row">
                                        <div class="form-group col-md-5">
                                        <input type="text" class="form-control text-center texto-oscuro" placeholder="Nombre de la empresa" value="{{ this.nombreEmpresa }}">
                                        </div>
                                        <div class="form-group col">
                                            <input type="text" class="form-control text-center texto-oscuro" placeholder="Puesto" value="{{ this.puestoDesempenado }}">
                                            </div>
                                    </div>
                                    <div class="form-row">
                                            <div class="form-group col">
                                               <input type="text" class="form-control text-center texto-oscuro" placeholder="Periodo" value="{{ this.periodo }}">
                                            </div>
                                            <div class="form-group col">
                                               <input type="number" class="form-control text-center texto-oscuro" placeholder="Salario" value="{{ this.salario }}">
                                            </div>
                                    </div>

                                            <textarea class="form-control texto-oscuro" id="inputExpLaboral" placeholder="Describe en 100 palabras la experiencia ganada en tus trabajos anteriores, conocimientos adquiridos, habilidades y técnicas." rows="2">{{ this.funciones }}</textarea>
                                        </div>
                                        <hr>
                                    {{/each}}
                                    <button role="button" type="button" class="btn btn-success mb-2" data-toggle="modal" data-target="#empleoModal"><i class="fa-solid fa-circle-plus fa-2x text-warning" aria-hidden="true"></i>
                                                            Nuevo empleo</button>
                                    </div>
                                        

                                        <!-- Formación académica -->
                                    <label class="font-weight-bold text-dark mt-3">Formación académica</label>
                                    <div class="container border border-warning rounded m-0 pt-0 pb-0 ">
                                        {{#each usuario.estudios}}
                                <div class="form-row mt-3">
                                    <div class="form-row">
                                        <div class="form-group col-md-5">
                                        <input type="text" class="form-control text-center texto-oscuro" placeholder="Centro Educativo" value="{{ this.nombreEscuela }}">
                                        </div>
                                            <div class="form-group col">
                                               <select class="form-control texto-oscuro">
                                                            <option {{#unless this.nivelAcademico}}selected{{/unless}}>Nivel Académico</option>
                                                            <option value="1" {{#if (ifeq this.nivelAcademico "1")}} selected{{/if}}>Doctorado</option>
                                                            <option value="2" {{#if (ifeq this.nivelAcademico "2")}} selected {{/if}}>Maestria</option>
                                                            <option value="3" {{#if (ifeq this.nivelAcademico "3")}} selected {{/if}}>Postgrado</option>
                                                            <option value="4" {{#if (ifeq this.nivelAcademico "4")}} selected {{/if}}>Licenciatura \ Ingeniería</option>
                                                            <option value="5" {{#if (ifeq this.nivelAcademico "5")}} selected {{/if}}>Preparatoria</option>
                                                            <option value="6" {{#if (ifeq this.nivelAcademico "6")}} selected {{/if}}>Secuandaria</option>
                                                            <option value="7" {{#if (ifeq this.nivelAcademico "7")}} selected {{/if}}>Primaria</option>

                                            </select>
                                            </div>
                                        <div class="form-group col-md-3">
                                            <input type="text" class="form-control text-center texto-oscuro" placeholder="Periodo (2010-2011)" value="{{ this.periodo }}">
                                            </div>
                                    </div>
                                        </div>
                                        <hr>
                                    {{/each}}
                                    <button role="button" type="button" class="btn btn-success mb-2" data-toggle="modal" data-target="#formacionModal"><i class="fa-solid fa-circle-plus fa-2x text-warning" aria-hidden="true"></i>
                                                            Nueva formación</button>
                                    </div>
                                    </form>


                                                </div>
                                            </div>
                                            <!-- Fin de la fila -->
                                        <!-- New area Modal-->
                                        {{> modal_nuevo_empleo}}
                                        {{> modal_nueva_formacion}}
                                        </div>
                                        {{> footer }}
