{{> head }}
{{> navbar_cv }}


<div class="container p-5">
    <div class="row mt-5">
        <div class="col-lg-5 animated bounceIn">
            <div class="row">
                <img class="z-depth-2 foto-perfil mx-auto" src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2018/08/fotos-perfil-whatsapp_16.jpg?itok=fl2H3Opv" data-holder-rendered="true">
                </div>

<form>
                <!-- Fila Contacto-->
                <div class="row mt-3">
                    <div class="col">
                        <!-- Contacto -->
                        <div class="row">
                        <div class="col col-lg-6">
                        <div class="card border-left-success shadow">
                                <div class="card-body p-2">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="font-weight-bold text-success">
                                               Contacto</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-address-card fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col text-center">
                        <!-- Nombre -->
                        <label class="font-weight-bold text-dark" for="inputCorreo">Revisa tu correo electrónico</label>
                        <div class="input-group mb-2">
                        <input type="text" class="form-control" placeholder="Correo institucional UAEMEX" aria-label="Correo institucional UAEMEX" aria-describedby="basic-addon2" value="{{correo_institucional}}">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">@alumno.uaemex.mx</span>
                        </div>
                        </div>

                        <!-- Nombre -->
                            <div class="form-group">
                                <label class="font-weight-bold text-dark" for="inputNumero">Revisa tu número de contacto</label>
                                <input type="number" class="form-control text-center text-secondary " id="inputNumero" placeholder="Celular" value="{{ numero_cel }}"></div>
                    </div>
                    </div>
                    </div>
                    <!-- Fin Contacto -->
                </div>

                <!-- Fila Habilidades-->
                <div class="row mt-3">
                    <div class="col">
                        <!-- Habilidades -->
                        <div class="row">
                        <div class="col col-lg-6">
                        <div class="card border-left-primary shadow">
                                <div class="card-body p-2">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="font-weight-bold text-primary">
                                               Habilidades</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-book-open-reader fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col text-center">
                        <!-- Habilidades -->
                        <label class="font-weight-bold text-dark">Ingresa 3 habilidades</label>
                        <input type="text" class="form-control text-center text-secondary mb-2" placeholder="Habilidades" value="{{ habilidades._1 }}">
                        <input type="text" class="form-control text-center text-secondary mb-2" placeholder="Habilidades" value="{{ habilidades._2 }}">
                        <input type="text" class="form-control text-center text-secondary mb-2" placeholder="Habilidades" value="{{ habilidades._3 }}">
                        </div>
                    </div>
                    </div>
                    </div>
                    <!-- Fin Habilidades -->

                    <!-- Fila Logros-->
                <div class="row mt-3">
                    <div class="col">
                        <!-- Logros -->
                        <div class="row">
                        <div class="col col-lg-6">
                        <div class="card border-left-warning shadow">
                                <div class="card-body p-2">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="font-weight-bold text-warning">
                                               Logros</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-medal fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col text-center">
                        <!-- Logros -->
                        <label class="font-weight-bold text-dark">Ingresa 3 logros</label>
                        <input type="text" class="form-control text-center text-secondary mb-2" placeholder="Logros" value="{{ logros._1 }}">
                        <input type="text" class="form-control text-center text-secondary mb-2" placeholder="Logros" value="{{ logros._2 }}">
                        <input type="text" class="form-control text-center text-secondary mb-2" placeholder="Logros" value="{{ logros._3 }}">
                        </div>
                    </div>
                    </div>
                    </div>
                    <!-- Fin Logoros -->
                </div>



            <div class="col text-center">
                <div class="row">
                    <div class="col">

                        
                            <!-- Nombre -->
                            <div class="form-group">
                                <label class="font-weight-bold text-dark" for="inputNombre">Revisa tu nombre</label>
                                <input type="text" class="form-control text-center text-secondary form-control-lg font-weight-bold" id="inputNombre" placeholder="Nombre completo" value="{{ nombre }}"></div>

                                <!-- Experiencia laboral -->
                                <div class="form-group">
                                    <label class="font-weight-bold text-dark" for="inputExpLaboral">Experiencia Laboral</label>
                                    <textarea class="form-control" id="inputExpLaboral" placeholder="Describe en 100 palabras la experiencia ganada en tus trabajos anteriores, conocimientos adquiridos, habilidades y técnicas." rows="3">{{ exp_laboral }}</textarea>
                                </div>

                                <!-- Empresas -->
                                    <label class="font-weight-bold text-dark">Empresas</label>
                                    <div class="container border border-warning rounded m-0 pt-0 pb-0 ">
                                        {{#each empleos}}
                                <div class="form-row mt-3">
                                    <div class="form-row">
                                        <div class="form-group col-md-5">
                                        <input type="text" class="form-control text-center text-secondary" placeholder="Nombre de la empresa" value="{{ this.nombre_empresa }}">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <input type="text" class="form-control text-center text-secondary" placeholder="Puesto" value="{{ this.puesto }}">
                                            </div>
                                            <div class="form-group col">
                                               <input type="text" class="form-control text-center text-secondary" placeholder="Periodo" value="{{ this.anio }}">
                                            </div>
                                    </div>

                                            <textarea class="form-control" id="inputExpLaboral" placeholder="Describe en 100 palabras la experiencia ganada en tus trabajos anteriores, conocimientos adquiridos, habilidades y técnicas." rows="2">{{ this.funciones }}</textarea>
                                        </div>
                                        <hr>
                                    {{/each}}
                                    <button type="submit" class="btn btn-success mb-2">
                                                            <i class="fa-solid fa-circle-plus fa-2x text-warning"></i>
                                                            Nuevo empleo</button>
                                    </div>
                                        

                                        <!-- Formación académica -->
                                    <label class="font-weight-bold text-dark mt-3">Formación académica</label>
                                    <div class="container border border-warning rounded m-0 pt-0 pb-0 ">
                                        {{#each estudios}}
                                <div class="form-row mt-3">
                                    <div class="form-row">
                                        <div class="form-group col-md-5">
                                        <input type="text" class="form-control text-center text-secondary" placeholder="Centro Educativo" value="{{ this.nombre_escuela }}">
                                        </div>
                                            <div class="form-group col">
                                               <select class="form-control">
                                                            <option value="0">Nivel Académico</option>
                                                            <option value="1">Doctorado</option>
                                                            <option value="2">Maestria</option>
                                                            <option value="3">Postgrado</option>
                                                            <option value="4">Licenciatura \ Ingeniería</option>
                                                            <option value="5">Preparatoria</option>
                                                            <option value="6">Secuandaria</option>
                                                            <option value="7">Primaria</option>
                                            </select>
                                            </div>
                                        <div class="form-group col-md-3">
                                            <input type="text" class="form-control text-center text-secondary" placeholder="Periodo (2010-2011)" value="{{ this.periodo }}">
                                            </div>
                                    </div>
                                        </div>
                                        <hr>
                                    {{/each}}
                                    <button type="submit" class="btn btn-success mb-2">
                                                            <i class="fa-solid fa-circle-plus fa-2x text-warning"></i>
                                                            Nueva formación</button>
                                    </div>
                                    </form>


                                                </div>
                                            </div>
                                            <!-- Fin de la fila -->
                                        </div>
                                        {{> footer }}
