{{>head_Partial }}

<div class="col">
    {{> verificarCuenta_Partial}}
    <div class="row">
        <div class="col">
            {{>busqueda_Partial }}
        </div>
        <div class="col">
            {{>listadoConvenios }}
        </div>
    </div>

    <!-- Vacantes -->
    <div class="row">
        <div class="col">
            <div class="alert alert-info text-center" role="alert">
                Resultados:
                <b>{{ vacantes.total }}</b>
            </div>
            {{#each vacantes.data}}
            <div class="card text-center border-info mb-3">
                <div class="card-body context">
                    <h3 class="form-control-lg">{{ this.puesto }}</h3>
                    <h4 class="card-title">{{ this.empresa.razonSocial }}</h4>

                    {{#if this.empresa.foto}}
                    <img src="{{this.empresa.foto}}" class="card-img foto-empresa"
                        alt="Foto empresa" onerror="this.src='/img/no-img.jpg';this.onerror='';">
                    {{/if}}

                    <h5 class="card-text text-justify text-truncate mt-2" style="max-width: 500px;">Funciones:
                        <b>{{ this.funciones }}</b>
                    </h5>
                    <div class="row">
                        <div class="col">
                            <h5>Salario:
                                <b>{{ this.salario }}</b>
                            </h5>
                        </div>
                        <div class="col">
                            <h5>Horarios:
                                <b>{{ this.horarios }}</b>
                            </h5>
                        </div>
                    </div>
                    
                    {{#if (ifdiff (ifeq_vacante this._id ../postulaciones.data) '')}}
                    <hr>
                    <h4><b>Información de contacto de la empresa:</b></h4>
                        <div class="row">
                            {{#if this.empresa.numeroContacto}}
                            <div class="col"><h5><b>Número de contacto:</b> {{this.empresa.numeroContacto}}</h5></div>
                            {{/if}}
                            <div class="col"><h5><b>Email:</b> {{this.empresa.email}}</h5></div>
                        </div>
                        <hr>
                    {{/if}}

                    <p>Publicada:
                        <b>{{ fechaCreacion }}</b>
                    </p>
                    <div class="row">
                        <div class="col">
                            <a href="/vacante/{{ this._id }}" class="btn btn-info">Ver vacante</a>
                        </div>
                        <div class="col">
                            {{#if (ifeq (ifeq_vacante this._id ../postulaciones.data) 'En proceso')}}
                            <button type="button" class="btn btn-info" disabled> Postulado el día {{fechaPostulacion
                                this._id ../postulaciones.data}}</button>
                            {{else}}
                            {{#if (ifeq (ifeq_vacante this._id ../postulaciones.data) 'Aceptado')}}
                            <button type="button" class="btn btn-success" disabled> Aceptado</button>
                            {{else}}
                            {{#if (ifeq (ifeq_vacante this._id ../postulaciones.data) 'Rechazado')}}
                            <button type="button" class="btn btn-warning" disabled> Rechazado</button>
                            {{else}}
                            <a href="/postulacion/{{ this._id }}/{{ this.puesto }}" class="btn btn-primary">
                                Postularme</a>
                            {{/if}}
                            {{/if}}
                            {{/if}}

                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

    </div>
    <!-- Fin de la fila -->
</div>
<!-- Fin container -->
</div>
{{>footer }}